
/* CSS Para vista de Portafolio (Shortcode) */

.sites-portfolio{
    background-color:rgb(255, 255, 255);
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;

    width: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 20px;

    font-family:'Times New Roman';
}

.sites-portfolio-box{
    text-align: left;
    padding: 2vh;
    border: solid 1px rgb(218, 180, 180);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    overflow:scroll;
}

.sites-portfolio-img{
    object-fit:fill; 
    border: solid 1px;
    width:200%;
    height:200%;  
    margin-bottom: 5%;
}

.sites-portfolio-title{
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10%;
}

#site-title{
    font-size:200%;
    color: dimgray;
}

#site-desc{
    color: darkgray;
    font-size:150%;
}

.sites-empty-field{
    color:red;
    font-weight:bold
}

/* CSS Para Modal */

.modal-container {

}

.modal {

}

.modal-close {
    
}


@media only screen and (max-width: 959px) {
    .sites-portfolio{
        display:grid;
        grid-template-columns: 50% 50%;
        width: 100%;
    }

}

@media only screen and (max-width: 600px) {

    .sites-portfolio{
        display:grid;
        grid-template-columns: 100%;
        width: 100%;
    }


}