/* ============================ CSS Para vista de Portafolio ============================= */

.sites-portfolio{

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
       
    margin: auto;
    padding: 15px;

    justify-items: center;
    width: 900px;
    height: auto;
    align-items: center;

    background-color:rgb(255, 255, 255);
}

.sites-portfolio-box {
    transition: transform 0.3s ease-in-out;

    position: relative;
    height: 265px;
    width: 300px;

    padding: 2vh;
    border: solid 1px rgb(185, 180, 180); 
    border-radius: 15px;

    text-align: center;
    color: black;

    display: flex;
    flex-direction: column;

}

.sites-portfolio-box:hover{
    transform: scale(1.02);
    border: solid 2px rgb(194, 186, 186); 
    cursor: pointer;
}


img.site_screenshot{
    border-radius: 15px;
    width: 250px !important;
    height: 150px !important;
    margin-bottom: 15px;

}

.site-title{
    font-size: 12px;
    font-weight: bold;
    font-family: Gill Sans, sans-serif ;
    color: black;

    padding-bottom: 20px;

    white-space: nowrap;       
    overflow: hidden;          
    text-overflow: ellipsis;
   
}

.portfolio-description {
    text-align: center;
    background-color: #4fbf5b52;
    width: 80%;
    align-self: center;
    border-radius: 20px;
    font-weight: bold;
}


.show-more {
    font-size:medium;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    background-color: #4fbf5b52;
    width: fit-content;
    color: white;
    font-weight: 600;

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 2px;
    padding-top: 2px;

    align-self: center;
    border-radius: 5px;
    grid-column: 2;
    color : #2b2828;
}

.show-more:hover{
    transform: scale(1.04);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}   

.site-no-image-container-portfolio {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: flex;
    justify-content: center;
}


/* ============================ CSS Para Modal ============================= */

#modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

.modal-main-box {
    width: 80%;
    height: 85%;

    margin: auto;
    background-color: #fff;
    border: solid 1px black;
    border-radius: 15px;

    overflow: hidden; 

}

.barra-transparente {
    display: flex;
    flex-direction: column; 
    height: 25%;
    width: 50%;
    position: relative; 
    z-index: 2; 
    bottom: 35%;
    left: 25%;
    background-color: rgba(0, 0, 0, 0.676);
    font-size: 16px;
    overflow: scroll;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    border-width: 2px; 
    border-style: solid; 
    border-color: lightgray;
}

.barra-transparente > * {
    margin-bottom: 10px; 
}

.sub-barra-transparente {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal-img-elem {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;

    object-fit: cover; 
}

#link-al-sitio {
    color: aqua;
}

.modal-subtitle {
    color: rgb(230, 230, 230);
    font-weight: bold;
}

.modal-data-text {
    color: white;
    font-weight: normal;
}

#modal-button-img {
    display: none;
}

.site-no-image-container-portfolio {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: flex;
    justify-content: center;
}

#site-no-image {
  align-self: center;
  display: flex;
  font-weight:bold;
}


/* ========================================================================================= */

/* Estilos responsive (Aplicados a dispotivios celulares) */

@media only screen and (max-width: 950px) {

/* ====== CSS Para Modal Responsive ====== */


    #modal-container {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .modal-main-box {
        width: 80%;
        height: 40%;
    }

    
    .modal-img-elem {
        display: none;
    }

    #modal-button-img {
        display: unset;

        background-color: #4CAF50; 
        border: none; 
        color: white; 
        padding: 15px 32px; 
        text-align: center; 
        text-decoration: none; 
        display: inline-block; 
        font-size: 16px; 
        margin: 4px 2px; 
        cursor: pointer; 
        border-radius: 8px; 
        transition-duration: 0.4s; 
    }

    #modal-button-img:hover {
        background-color: #45a049;
        color: white; 
    }

    .barra-transparente {
        width: 100%;
        height: 100%;
        bottom: 0%;

        position: unset;
        margin: 0;
        border: solid;
        border-width: 2px;
        border-radius: 0%;


    }

/* ====== CSS Para Portfolio Responsive ====== */

    /* Arreglar esto */
    .sites-portfolio {
        grid-template-columns: 100%;
        justify-items: unset;
        width: auto;
    }

}


@media only screen and (max-width: 950px) and (orientation: landscape) {

    .modal-main-box {
        height: 50%;
    }
}

@media only screen and (device-width: 810px) and (device-height: 1080px) {
    .modal-main-box {
        height: 25%;
    }
  }