
/* ============================ CSS Para vista de Portafolio ============================= */

.sites-portfolio{
    background-color:rgb(255, 255, 255);
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;

    width: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 20px;

    font-family:'Times New Roman';
}

.sites-portfolio-box{
    text-align: left;
    padding: 2vh;
    border: solid 1px rgb(218, 180, 180); 
    border-radius: 15px;
    height: 100%;
    width: 100%;
    overflow:scroll;
}

.sites-portfolio-box:hover{
    cursor: pointer;
}

.sites-portfolio-img{
    object-fit:fill; 
    border: solid 1px;
    width:200%;
    height:200%;  
    margin-bottom: 5%;
}

.site_screenshot{
    border: solid 2px rgb(201, 198, 198);
    border-radius: 15px;
}

.site-title{
    font-size:x-large;

    font-weight: bold;

    margin-bottom: 3%;

    width: fit-content;
}

.site-desc{
    font-size: large;

    font-weight: bold;

    margin-bottom: 3%;

    width: fit-content;
}

.sites-empty-field{
    color:red;
    font-weight:bold
}

.swiper{
    width: 100%;
    height: 350px;
    margin-top: 10vh;
    border: solid 3px black;
    border-radius: 10px;

    display: flex;
    align-items: center;

  }

.carrousel-box{
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    row-gap: 10px;
}
.carrousel-title{
    font-weight: bold;
    text-align: center;
    font-size: large;
}

.carrousel-image{
    max-width: 100%;
    border: solid 5px rgb(188, 179, 179);
    border-radius: 3px;
    align-items: center;
    align-content: center;
}
/* CSS Para Modal */

.modal-container{
    opacity: 2;
    background-color: rgb(0, 0 , 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    z-index: 105;



    display: flex;
    justify-content: center;
    align-items: center;
    

}

.modal-main-box{
    background: #ede6e6;
    width: 70%;
    height: 500px;
    text-align: center;
    display: grid;
    grid-template-columns: 90%;
    align-items: center;
    justify-content: center;

    border: solid 1px black;
    border-radius: 15px;

    padding-top: 20px;
    padding-bottom: 35px;
}


.modal-close {
    size: 30px;
    position: absolute;
    top: 16.5%;
    right: 16%;
    
}

.modal-header{
    display: grid;
    grid-template-columns:20% 60% ;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: inherit;
  font-weight: bold;
  text-align: center;
}

.dot:hover{
    cursor: pointer;

}

.modal-title{
    display: block;
    font-weight: bold;
    font-size:45px;
    align-self: left;
    
}

.modal-box{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
    width: 100%;
    align-items: center;
    column-gap: 2px;
}

/* ============================= Modal Box ================================== */

.modal-img{
    width: 70%;
    border-radius: 5px;
    object-fit: contain;
    border: solid 3px black;
    border-radius: 5px;

}

.modal-img-elem{
    width: 100%;

}

/* ======================= Modal Data =================================== */

.modal-data{
    display:grid;
    grid-template-columns: auto;
    row-gap: 5px;

    justify-content:left;
    align-content: baseline;
}

.sites-portfolio-title{
    font-size: medium;

    font-weight: bold;

    margin-bottom: 3%;

    width: fit-content;
}

.modal-data-text {
    font-weight: lighter;
    font-size:small;
    text-align: justify;
}

/* =============================== Fin Modal data ============================== */

/* =============================== Fin Modal box ============================== */


@media only screen and (max-width: 959px) {
    .sites-portfolio{
        display:grid;
        grid-template-columns: 50% 50%;
        width: 100%;
    }

    .carrousel-image{
        max-width: 80%;
    }
    

}

@media only screen and (max-width: 600px) {

    .sites-portfolio{
        display:grid;
        grid-template-columns: 100%;
        width: 100%;
    }
    .swiper{
        align-items: center;
        display: grid;
        grid-template-columns: 100%;
    }

      

}