body {
    position: relative;
    min-height: 100vh!important;
  }

/*---------- HEADER CSS ----------*/

    .header-container{
        height: 4rem  ;
        position: relative;
        margin-top: 0%;
        display:grid;
        grid-template-columns: 33% 33% 33%;
        object-fit: contain;

        top:0;
        left:0;
        right: 0;
        
    }

    a{
        text-decoration: none;
    }
/* Header TEXTs */

    .header-title{
        font-size: xx-large;
        align-items: center;
        margin-top: auto;
        margin-left: 20px;
        margin-bottom: auto;
        font-weight: 600;
        text-decoration: none;
        align-self:center;
    }

    .header-title:hover{
        transform: scale(1.03);
    }

    .header-subtext{
        margin: 0;
        justify-self:end;
    }

    /* HEADER COLUMNS */

    .header-column{
        display: flex;
        height: inherit;
        align-items: center;
    }
    .header-col1 {
        float: left;
        display: flex;
        text-align: center;
        align-content: center;
    }

    .header-col3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1vw;
        gap: 20px;
    }

    /* Header IMAGEs */
    
    .header-image-container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-image{
        max-height:80%;
        object-fit: contain;
        justify-content: center;
        margin: auto;
        align-self: center;
    }


    /*---------- FOOOTER CSS ----------*/

    .footer-container{

        width: 100%;
        height: 9rem;

        display:grid;
        grid-template-columns: 33% 33% 33%;
        grid-row-gap: 10px;
        padding-top: 10px;
        clear: both;
        grid-row-gap:15px;
        overflow: hidden;

        position: relative;
        bottom:0;
        left:0;
        right: 0;
    }

    .footer_column {
        height:inherit ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      
    }

    .col2{
        padding: 
    }

    .footer_row:after {
        content: "";
        display: table;
        clear: both;
    }

    
    .contact-text {
        font-weight: bold;
        margin: auto;
    }

    .media-icon{
        margin-left: 5px;
        margin-right: 5px;
    }

    .media-icon:hover{
        transform: scale(1.05);
    }

    .footer-title{
        font-family: inherit;
        font-style: inherit;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .media-container{
        display: flex;
        justify-content: space-between;
    
    }

    .footer-image{
        max-height: 90%;
        align-self: flex-start;
    }

    .footer-image-container{
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        align-items: center;

    }
    .footer-image {
        max-height: 80%;
    }


/* ====================     CSS Responsive Design     ======================= */

  

    @media only screen and (max-width: 700px) {

        .header-container{
            display:grid;
            grid-template-columns: 50% 50%; 
            height: 200px;
        }
*/
        .header-image{
            max-height:50px; 
            object-fit: contain;
           
        }

        .header-title{
            margin-left: 10vw;;
        }

        footer.footer-container{
            display:grid;
        
            grid-template-columns: 100%;
            height: auto;
        } 

        .footer_column {
            height:auto;
            justify-content: center;
            align-items: center;
        }

    }

  


      @media only screen and (max-width: 700px) {

        .header-container{
            display:grid;
            grid-template-columns: 50% 50%; 
            height: 200px;

        }

        .header-image{
            max-height:50px; 
            object-fit: contain;
            margin-left: 0px;
        }

        .header-title{
            margin-left: 10vw;;
        }

        .footer-image {
            max-height: 8vh;
        }

      }

          /* Si pasa 450px no aplica esto */
    @media only screen and (max-width: 450px){

   

        .footer_column {
            height:100px;
            justify-content: center;
            align-items: center;
        }

        .col3{
            align-items: center;
            display: grid;
            grid-template-columns: 100%;
        }

        .col1 {
            align-items: center;
        }

        .col2 {
            align-items: center;
        }

        .footer-image {
            max-height: 5vh;
        }


      }

      