    .header-container{
        height: 70px  ;
        position: relative;
        margin-top: 0%;
        display:grid;
        grid-template-columns: 50% 50%;
        object-fit: contain;

        top:0;
        left:0;
        right: 0;
        
    }

    body {
        position: relative;
        min-height: 100vh!important;
      }

    .header-col1 {
        float: left;
        display: flex;
        text-align: center;
        align-content: center;
    }

    .header-title{
        font-size: xx-large;
        align-items: center;
        margin-top: auto;
        margin-left: 20px;
        margin-bottom: auto;
        font-weight: 600;
        text-decoration: none;

    }

    .header-title:hover{
        transform: scale(1.03);
    }

    .header-col2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1vw;
        margin-bottom: 1vh;
        margin-top: 1vh;

        gap: 20px;

    }

    .header-image{
        max-height:50px;
        object-fit: contain;
        justify-content: center;
        align-items: center;
    }


    a{
        text-decoration: none;
    }


    /* FOOOTER CSS */

    .footer-container{

        width: 100%;
        height: 9rem;

        display:grid;
        grid-template-columns: 33% 33% 33%;
        grid-row-gap: 10px;
        padding-top: 10px;
        clear: both;
        grid-row-gap:15px;
        overflow: hidden;

        position: relative;
        bottom:0;
        left:0;
        right: 0;
    }

    .footer_column {
        height:inherit ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .footer_row:after {
        content: "";
        display: table;
        clear: both;
    }

    
    .contact-text {
        font-weight: bold;
    }

    .media-icon{
        margin-left: 5px;
        margin-right: 5px;
    }

    .media-icon:hover{
        transform: scale(1.05);
    }

    .footer-title{
        font-family: inherit;
        font-style: inherit;
        text-align: center;
        text-justify: inter-word;
        font-size: 16px;
        font-weight: 600;
    }

    .media-container{
        display: flex;
        justify-content: space-between;
    
    }

    .footer-image{
        max-height: 90%;
        align-self: flex-start;
    }

    .footer-image-container{
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        align-items: center;

    }


  

    @media only screen and (max-width: 700px) {

        .header-container{
            display:grid;
            grid-template-columns: 50% 50%; 
            height: 200px;
        }

        .header-image{
            max-height:50px; 
            object-fit: contain;
           
        }

        .header-title{
            margin-left: 10vw;;
        }

        footer.footer-container{
            display:grid;
            grid-template-rows: 33% 33% 33%;
            grid-template-columns: 100%;
            height: auto;
        } 

        .footer_column {
            height:100px;
            justify-content: center;
            align-items: center;
        }

    }

  


      @media only screen and (max-width: 700px) {

        .header-container{
            display:grid;
            grid-template-columns: 50% 50%; 
            height: 200px;

        }

        .header-image{
            max-height:50px; 
            object-fit: contain;
            margin-left: 0px;
        }

        .header-title{
            margin-left: 10vw;;
        }

        .footer-image {
            max-height: 8vh;
        }

      }

          /* Si pasa 450px no aplica esto */
    @media only screen and (max-width: 450px){

   

        .footer_column {
            height:100px;
            justify-content: center;
            align-items: center;
        }

        .col3{
            align-items: center;
            display: grid;
            grid-template-columns: 100%;
        }

        .col1 {
            align-items: center;
        }

        .col2 {
            align-items: center;
        }

        .footer-image {
            max-width: 100%;
            max-height: 12vh;
        }


      }

      }