    .header-container{
        height: 70px !important ;
        margin-top: 0%;
        display:grid;
        grid-template-columns: 50% 50%;
        object-fit: contain;

    }

    .header-col1 {
        float: left;
        display: flex;
        text-align: center;
        align-content: center;
    }

    .header-title{
        font-size: xx-large;
        align-items: center;
        margin-top: auto;
        margin-left: 20px;
        margin-bottom: auto;
        font-weight: 600;
        text-decoration: none;

    }

    .header-title:hover{
        transform: scale(1.03);
    }

    .header-col2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1vw;
        margin-bottom: 1vh;
        margin-top: 1vh;

        gap: 20px;

    }

    .header-image{
        max-height:50px;
        object-fit: contain;
        justify-content: center;
        align-items: center;
    }


    a{
        text-decoration: none;
    }


    /* FOOOTER CSS */

    .footer-container{
        display:grid;
        grid-template-columns: 40% 20% 40%;
    }

    .footer_column {
        height:10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .footer_row:after {
        content: "";
        display: table;
        clear: both;
    }

    
    .contact-text {
        font-weight: bold;
    }

    .media-icon{
        margin-left: 5px;
        margin-right: 5px;
    }

    .media-icon:hover{
        transform: scale(1.05);
    }

    .footer-title{
        font-family: inherit;
        font-style: inherit;


        font-size: 23px;
        font-weight: 600;
    }

    .media-container{
        display: flex;
        justify-content: space-between;
    
    }

    .footer-image{
        max-width: 50%;
        max-height: 10vh;
        align-self: flex-start;
    }

    .footer-image-container{
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        align-items: center;

        flex-wrap: no-wrap
    }


  

    @media only screen and (max-width: 600px) {

        .header-container{
            display:grid;
            grid-template-columns: 50% 50%; 
        }

        .header-image{
            max-height:50px; 
            object-fit: contain;
           
        }

        .header-title{
            margin-left: 10vw;;
        }

        .footer-container{
            display:grid;
            grid-template-columns: 100%;
        } 
      }