    .header-container{
        padding-top: 2vh;
    }

    .column {
        float: left;
        width: 50%;
    }

    .header-image{
        aspect-ratio: 3/2;
        object-fit: contain;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }


    /* FOOOTER CSS */

    .footer-container{
        margin-top: 0%;
        display:grid;
        grid-template-columns: 40% 20% 40%;
    }

    .footer_column {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .footer_row:after {
        content: "";
        display: table;
        clear: both;
    }

    
    .contact-text {
        font-weight: bold;
    }

    .media-icon{
        margin-left: 5px;
        margin-right: 5px;
    }

    .media-icon:hover{
        transform: scale(1.05);
    }

    .contact-container{
    }

    .media-container{
        display: flex;
        justify-content: space-between;
    
    }

    .footer-image{
        display:block;
        max-width: 50%;
        max-height: 15vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;

    }

  

    @media only screen and (max-width: 600px) {
        .footer-container{
            display:grid;
            grid-template-columns: 100%;
        } 
      }