    .header-container{
        padding-top: 2vh;
    }
    .column {
        float: left;
        width: 50%;
    }

    .header-image{
        aspect-ratio: 3/2;
        object-fit: contain;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    