.row-archived {
    background-color:#ffb3b3 !important;
    color: white !important;
}

.row-development {
    background-color:#ffb380 !important;
    color: white !important;
}

td {
    font-weight: bold /* Texto en negrita */ !important;
}